

:root{
  --color-bg-div:  #cedeff;
}
body{
    background-color:#8EACCD;
    color: #fff;
   
  }
#apresentacao{
   background-color:var(--color-bg-div);
   padding-top: 45px ;
}

.container-apresentacao{
  text-align: center;
  margin: 15px 20px 12px 30px;
}

#imgCurriculo{
  width: 12%;
  height: 12%;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
}

#sobre{
  margin-top: 40px;
  scroll-margin-top: 80px;
}

.margin{
  padding: 25px;
  
}

#skills {
  background-color: var(--color-bg-div);
  scroll-margin-top: 80px;
}

#formacao{
  scroll-margin-top: 80px;
}

.topBcgSobre{
  background-color: #b8f4ff;
  width: 8%;
}

.text-justify{
  text-align: justify;
}

table {
  border-collapse: collapse;
  width: 50%;
  
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: hsl(220, 100%, 83%);
} 
#menu {
  background-color: #b8f4ff;
}
#menu a{
  color: #8EACCD;
  text-decoration: none;
  font-size: 20px
}

#formacao a, #enderecoContato a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
 } 

 #enderecoContato{
  scroll-margin-top: 80px;
 }

 #menu a:hover, #formacao a:hover, #enderecoContato a:hover{
  color: #202020;
}

#rodape span{
  font-size: 10px;
  }



/* #imgIcon{
  height: 30px;
  width: 30px;
  border-radius: none;

}

#rodape span{
font-size: 10px;
} */